
@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model List<AnimalShelter.Models.Animal>;

<h1>Animal Types</h1>

<ul>
  @foreach(Animal animal in Model)
  {
      <li>@Html.ActionLink($"{animal.Type}","AllNames", new { type = animal.Type })</li>
  }
</ul>

<p>@Html.ActionLink("Add new Animal", "Create")</p>