
@{
  Layout = "_Layout";
}

@using AnimalShelter.Models;
@model List<AnimalShelter.Models.Animal>;

<h1>Animals By Name</h1>

<ul>
  @foreach(Animal animal in Model)
  {
      <li>@Html.ActionLink($"{animal.Name}","AllNames", new { name = animal.Name })</li>
  }
</ul>

<p>@Html.ActionLink("Add new Animal", "Create")</p>